mixin video(info)
    div
        h4=info.title
        ul 
            li #{info.ratings}/5
            li #{info.comments} comments
            li Posted #{info.createdAt}
            li #{info.views} views